{% extends "blog/base.html" %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block main %}
<article id="post-detail-article">
  <h1>{{ post.title }}</h1>
  <span class="published">Published <time>{{ post.published }}</time></span><br>
  <span class="author">{{ post.author.get_full_name }}</span>
  {% if post.banner %}
    <img src="{{ post.banner.url }}" width="100%" alt="Banner image">
  {% endif %}

  <section class="content">{{ post.content|safe }}</section>
</article>

<section class="comments">
  {% if comments %}
    <h3>Latest comments</h3>
    {% for comment in comments %}
      <div class="comment">
        <span class="by-line">By {{ comment.name }} | <time>{{ comment.created }}</time></span>
        {{ comment.text|linebreaks }}
      </div>
    {% endfor %}
  {% endif %}

  <h3>Leave a comment</h3>
  {# Alias the variable for the included template #}
  {% with form=comment_form %}
    {% include "blog/comment_form.html" %}
  {% endwith %}
</section>
{% endblock %}
